* { margin: 0; padding: 0; }

body { margin: 0 auto; font-size: 13px; text-align: left; font-family: Arial, Helvetica, sans-serif; background: url(img/body.png) #E9EAE1; color: #333; }
#wrap { width: 980px; margin: 0 auto; }

#header { width: 100%; height: 90px; position:relative; }
	div#logo { position:absolute; top:16px; left:16px; }
		div#logo img { margin:0; }
	div#usuarioActual { position:absolute; top: 0; right: 0; padding: 8px; background-color: #FFF; border: 1px #CC0 solid; border-top: none; font-size: 11px; }
	#search { position:absolute; top:50%; right:0px; width: 300px; height: 26px; background: url(img/search.png) 0 0 no-repeat; }
		#search_field { border:0; margin: 4px 0 0 3px; padding: 0; font-size:13px; color:#82865E; text-indent:14px; }
		#search_button { position:absolute; top:0; right:0; }
		
#main { float: left; width: 100%; background: url(img/main.png) 0 0 repeat-y; margin-bottom:14px; }
#main_b { float:left; width: 100%; background: url(img/main_b.png) 0 100% no-repeat; }
#main_t { float:left; width: 100%; background: url(img/main_t.png) 0 0 no-repeat; }
	.gutter_wrap { padding: 18px; }
	#top_bar { float: left; width: 100%; height: 32px; margin-bottom: 14px; background: url(img/div_h.png) 0 100% repeat-x; }
	
	#content { float: left; width: 100%; background-color: #FFF; }
	
	#sidebar_r { float: right; width: 200px; }
	
	#footer { float: left; width: 100%; height: 30px; margin:14px 0; background-color:#E9EAE1; text-align:center; line-height:30px; color:#C90; }

/****** GENERALES ******/
p { line-height: 150%; }

a { color: #09F; text-decoration: none; }
	a:hover { text-decoration: underline; }
	a img { border: none; text-decoration: none; }

h1, h2, h3 { padding: 0; color:#5B5F43; font-family: "Trebuchet MS", arial, Helvetica, sans-serif; }
h1{ font-size: 20px; margin:0 0 16px 0; padding:0; height: 26px; line-height: 26px;  background: url(img/h1.png) 100% 0 no-repeat #E9EAE1; text-indent: 8px; color: #F90; }
h2{ font-size: 18px; padding: 16px 0;}
h3{ font-size: 16px; padding: 8px 0 4px 0; color:#666; font-weight: bold; }
h4{color:#000; font-size: 13px; margin: 0; padding: 6px 0; }
h5{color:#999; font-size: 11px; font-weight:bold; margin: 0; padding:0; }

hr { width: 96%; clear: both; height: 1px; margin: 6px auto 10px auto; border: 0; color: #82865E; background-color: #82865E; }

ul { margin: 8px 0; padding: 0 0 0 40px; }
ol { margin: 0; padding: 0 0 0 24px; }
ul li, ol li { line-height:150%; }
ul li a, ol li a { }

dl { line-height: 150%; margin: 8px 0; width: 100%; } /*contenido en 'dos_tercios => 448px'*/
dt.altrow, dd.altrow { background: #f4f4f4; }
	dt { vertical-align: top; font-weight:bold; width: 35%; float: left; clear:left; margin: 0; padding: 2px 0; font-weight: bold; text-indent:8px; }
		dt:after { content: ":";  }
	dd { vertical-align: top; float: left; margin: 0 ; padding: 2px 0; width: 65%; }

/****** EXTRA ******/
.esp { clear:both;}
.gutter_mini { padding:4px; }
.relativo { position:relative; }
.izq { float:left; margin: 0; padding: 0; }
.der { float:right; margin: 0; padding: 0; }
.dos_tercios { width: 66%; } /*(700 - (16x2) - 200*/
.un_tercio { width: 33%; }
.mitad { width: 50%; }
.aire { padding: 6px; }
.aire_vertical { padding-top:5px; padding-bottom:5px;}
.aire_horizontal { padding-left:5px; padding-right:5px; }
.no_aire{ margin: 0; padding: 0; }
.enlinea { display:inline; }
.centro { margin: 0 auto; }
.centrado { text-align:center; }
.derechado { text-align:right; }
.pequena { font-size:11px; }
.sutilisimo { color:#999; font-size:11px; }
.negrita { font-weight: bold; }
.related { }

/****** MENUS ******/
#main_menu { padding: 0 0 0 40px; margin:0; list-style-type: none; text-align:center; } 
	#main_menu li { float:left; margin:0 16px 0 0; font-size: 14px; font-weight: bold; letter-spacing: 2px; text-transform:uppercase; }
		#main_menu li a { display:block; padding:0 10px; line-height:20px; color: #82865E; text-decoration:none; }
			#main_menu li.sutil a { color: #999; }
			#main_menu li a:hover { background-color:#82865E; color:#FFF; }
			#main_menu li a.active { background-color:#C90; color:#FFF; }

/****** IMAGEN ******/
img.marco { margin: 8px; padding: 8px; background: #FFF; border: #CCC 3px double; }

div.imagen { margin:16px auto; text-align:center; }
	div.imagen a { margin: 4px auto;  }
		div.imagen a img { padding: 4px; opacity:0.9; filter:alpha(opacity=90) }
			div.imagen a:hover img { opacity:1.0; filter:alpha(opacity=100) }
img.imagen { margin:4px auto; }

.imagen ul { width:100%; padding:0; text-align:center; }
	.imagen ul li { float:left; width: 200px; margin: 4px; padding: 0; list-style-type:none; text-align:center; font-size:11px; }
		.imagen ul li form { height: 200px; padding: 8px 0; font-size: 11px; border: 1px solid #E9EAE1; }
		.imagen ul li form.predeterminada { border-color: #F90; }
		.imagen ul li input { font-size: 11px; }
		.imagen ul li a img { }
		.imagen ul li a { }
			.imagen ul li a:hover img { }

/****** ESPECIALES ******/			
.texto { padding: 8px; border: #ECF0E7 1px solid; font-size: 11px; }
	#content .texto p { line-height: 200%; }

/****** MODULOS ******/		
.mod { border: #82865E 1px dashed; margin: 0 auto 8px auto; }
	.mod h3, .mod h4 { text-align:center; }

/****** ACTIONS ******/			
.actions h4 { text-indent:8px; }
.actions ul { text-align:left; margin: 8px 0 8px 14px; padding:0; list-style-type:none; }
	.actions ul li { line-height:150%; margin: 4px 0; padding:0; list-style-image:url(img/actions_vert.png); list-style-position:inside; }
		.actions ul li a { padding:2px 4px; text-decoration:none; color:#82865E; font-size: 11px; text-transform: uppercase; }
			.actions ul li a:hover { background-color:#C90; color:#FFF; text-decoration: none; }

div.actions_hor { clear:both; padding:8px 0; }
.actions_hor ul { margin: 8px 0; padding:0; text-align:center; }
	.actions_hor ul li { line-height:150%; display:inline; margin: 0 6px; padding:0; }
		.actions_hor ul li a { padding:2px 4px; border: 1px outset #666; text-decoration:none; color:#666; font-size: 11px; text-transform: uppercase; }
			.actions_hor ul li a:hover { background-color: #C90; border: 1px inset #C90; color:#FFF; text-decoration: none; }
			
a.action { padding:2px 4px; text-decoration:none; border: 1px outset #666; color:#666; font-size: 9px; text-transform: uppercase; }
	a.action:hover { background-color:#C90; border-color: #C90; color:#FFF; }
	
/****** LISTAS ******/
ul.etiquetas { margin: 16px auto; padding:0; list-style:none; text-align: center; }
	ul.etiquetas li { display: inline; margin: 2px; }
		ul.etiquetas li a { padding: 2px 6px; background: url(img/tag.png) 0 0 no-repeat #82865E; color: #FFF; font-size: 11px; text-transform: uppercase; }
			ul.etiquetas li a:hover { background-color: #5B5F43; background-position: 0 -18px; text-decoration: none; }

/****** LISTAS DE DEFINICIÓN ******/
dl { float:left; width: 100%; border: 1px solid #E9EAE1; border-bottom:none; border-collapse:collapse; line-height: 150%; margin: 0; }
dt.altrow, dd.altrow { background: #FBFBF9; }
	dt { vertical-align: top; font-weight:bold; width: 30%; float: left; clear:left; margin: 0; padding: 2px 0; font-weight: bold; text-indent:8px; border-bottom: 1px solid #E9EAE1; }
	dd { vertical-align: top; float: left; margin: 0 ; padding: 2px 0; width: 70%; border-bottom: 1px solid #E9EAE1; }

/****** TABLAS ******/
table.datos { width:100%; background: #FFF; border-collapse:collapse; margin: 8px 0; }
	table.datos tr { }
		table.datos th { text-align:center; padding: 8px 2px; border-top: 1px solid #5B5F43; border-bottom: 2px solid #5B5F43; }
		table.datos td { padding: 4px; border: 1px solid #E9EAE1; text-align:center; }
		table.datos td.izquierdado { text-align: left; }
			table.datos tr:hover td, table.datos tr.altrow:hover td { background-color: #FFC; }
		table.datos tr.altrow td { background-color: #FBFBF9; }
		table.datos td.actions { text-align:center; }
			table.datos td.actions a { text-decoration:none; padding:2px; color:#82865E; }
				table.datos td.actions a:hover { background-color:#C90; color:#FFF; }

/****** PAGINACION ******/		
div.paging { background:#FFF; color: #CCC; margin-bottom: 2em; text-align:center; }
div.paging div.disabled { color: #DDD; display: inline; }
div.paging span { }
div.paging span.current { color: #333; }
div.paging span a { }

/****** FORMULARIOS ******/
form { clear: both;	margin-right: 20px;	padding: 0; }
fieldset { border: 1px solid #E9EAE1; padding: 8px; }
fieldset legend { color:#5B5F43; font-family: "Trebuchet MS", arial, Helvetica, sans-serif; font-size:13px; font-weight: bold; }
fieldset fieldset div {	clear: left; margin: 0 20px; }
fieldset div { clear: both; padding: 8px; vertical-align: middle; }
	fieldset div:hover { }
form div.input label { color: #444; font-weight: bold; }
form div.required label { color: #C63; font-weight: bold; }
form div.submit { border: 0; clear: both; margin-top: 10px; text-align:center; }
label { float:left; width: 25%; padding-right: 20px; margin-bottom:2px; color: #444; font-weight: bold; }
select { clear: both; vertical-align: text-bottom; }
select[multiple=multiple] { width: auto; padding:4px; line-height:150%; }
option { padding: 0 3px; }
input[type=checkbox] { margin: 0px 6px 7px 2px; width: auto; }
input[type=radio] { width:auto; margin: 0 3px 7px 0; }
div.radio label { margin: 0 0 6px 20px; }
input[type=submit] { display: inline; padding: 2px 5px; width: auto; vertical-align: bottom; text-align: center; }

form.mini { }
form.mini, form.mini input { text-align: left; font-size: 11px; }
form.mini label { display: block; width: 100%; }

/****** MENSAJES Y ERRORES ******/
div.message, div.notice, div.error { display: block; margin: 8px 0; padding: 8px; background-color:#FFC; border:#FC0 1px dashed; font-weight: bold; text-align: center; color: #333; }
div.message { color: #C63; }
div.notice {  }
div.success { background: #DFF2D7; color: #093; }
div.error { background: #F8D5C9; border-color: #F30; color: #F30; }
form div.error { background: none; border: none; color: inherit; text-align: inherit; font-weight: normal; }

form div.error-message { float: left; clear: both; padding-left: 20px; color: #F30; line-height: 20px; background: url(img/sicon_error.png) 0 50% no-repeat; }
p.error { background-color: #e32; color: #fff; font-family: Courier, monospace;	font-size: 120%; line-height: 140%;	padding: 0.8em;	margin: 1em 0; }
p.error em { color: #000; font-weight: normal; line-height: 140%; }