body { margin: 0 auto; font-size: 12px; text-align: left; font-family: Arial, Helvetica, sans-serif; color: #000; }

/****** GENERALES ******/
h1, h2, h3 { padding: 0; color:#000; font-family: "Trebuchet MS", arial, Helvetica, sans-serif; }
h2{ font-size: 14px; padding: 4px 0;}


/****** TABLAS ******/
table.datos { width:100%; background: #FFF; border-collapse:collapse; margin: 8px 0; font-size: 10px;}
	table.datos tr { }
		table.datos th { text-align:center; padding: 8px 2px; border-top: 1px solid #5B5F43; border-bottom: 2px solid #5B5F43; }
		table.datos td { padding: 2px; border: 1px solid #E9EAE1; text-align:center; }
		table.datos td.izquierdado { text-align: left; }
			table.datos tr:hover td, table.datos tr.altrow:hover td { background-color: #FFC; }
		table.datos tr.altrow td { background-color: #FBFBF9; }
		table.datos td.actions { text-align:center; }
			table.datos td.actions a { text-decoration:none; padding:2px; color:#82865E; }
				table.datos td.actions a:hover { background-color:#C90; color:#FFF; }
				
table.datosre { width:100%; background: #FFF; border-collapse:collapse; margin: 8px 0; font-size: 10px;}
	table.datosre tr { }
		table.datosre th { text-align:center; padding: 8px 2px; border-top: 1px solid #5B5F43; border-bottom: 2px solid #5B5F43; }
		table.datosre td { padding: 2px; border: 1px solid #5B5F43; text-align:center; }
		table.datosre td.izquierdado { text-align: left; }
			table.datosre tr:hover td, table.datosre tr.altrow:hover td { background-color: #FFC; }
		table.datosre tr.altrow td { background-color: #FBFBF9; }
		table.datosre td.actions { text-align:center; }
			table.datosre td.actions a { text-decoration:none; padding:2px; color:#82865E; }
				table.datosre td.actions a:hover { background-color:#C90; color:#FFF; }				
				
table.datosob { width:100%; background: #FFF; border-collapse:collapse; margin: 16px; font-size: 10px;}