
	<ul class="user-menu">
		<li><?php echo $this->Html->link(__('CAREOPOLIS(S)'), array('plugin'=>null, 'controller'=>'pages', 'action'=>'home'));?></li>
		<li><?php echo $this->Html->link(__('MY FEED  PAGE'), array('plugin'=>null, 'controller'=>'users', 'action'=>'myfeedpage', $this->Session->read('Auth.User.username')));?></li>
		<li><?php echo $this->Html->link(__('MY ACCOUNT'), array('plugin'=>null, 'controller'=>'users', 'action'=>'view', $this->Session->read('Auth.User.username')));?></li>
		<li><?php echo $this->Html->link(__('NEW CAREOPOLIS'), array('plugin'=>null, 'controller'=>'careopolis', 'action'=>'add'));?></li>
	</ul>
