@font-face {
  font-family: HKGrotesk;
  src: url("../fonts/hk_grotesk/HKGrotesk-Regular.ttf") format('truetype');
}

@font-face {
  font-family: HKGroteskMedium;
  src: url("../fonts/hk_grotesk/HKGrotesk-Medium.ttf") format('truetype');
}

@font-face {
  font-family: HKGroteskBoldItalic;
  src: url("../fonts/hk_grotesk/HKGrotesk-BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: HKGroteskBold;
  src: url("../fonts/hk_grotesk/HKGrotesk-Bold.ttf") format('truetype');
}

@font-face {
  font-family: HKGroteskSemiBold;
  src: url("../fonts/hk_grotesk/HKGrotesk-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: Journal;
  src: url("../fonts/journal/journal.ttf") format('truetype');
}
body
	{
		background: #ffffff;
        /*font-family: 'Raleway', sans-serif;
		font-weight: 400;*/
		font-family: 'HKGroteskMedium';
        position: relative;
	}

h2, h3, h4
    {
        font-weight: bold;
    }

p
    {
        line-height: 26px;
    }

/* start all section 
#service, #divider, #about, #team, #newsletter,
 #pricing, #portfolio, #client, #contact
    {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    }
 end all section */

/* start nagivation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0 !important;
       /* padding: 0;*/
	   padding-top: 14px;
    }
.navbar-default .navbar-brand
    {
        padding-top: 4px;
        padding-bottom: 60px;
		height: 80px;
    }
.navbar-default .navbar-nav li a
    {
        /*font-size: 13px;
        font-weight: bold;
        line-height: 35px;*/
		  color: rgba(0, 0, 0, 0.57);
		  font-size: 16px;
		  font-weight: 500;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  font-family: "HKGroteskBold";
		  text-align: left;
		  margin-right: 15px;
		  padding-top: 25px;
    }
.navbar-default .navbar-nav li a:hover
    {
        color: #000000;
    }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 16px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #93ca3a;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-nav .btn-outline-success {
  color: #fff;
  background-color: #458281;
  background-image: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  border-color: #458281;
  width: 103px;
  height: 41px;
  font-size: 16px;
  margin-top: -11px !important;
}

.navbar-nav .btn-outline-success:hover {
  background-color: rgb(34, 155, 158);
  background-image: none;
}
.navbar-default .navbar-nav .imground {
    width:40px;
    height:40px;
    border-radius:100px;
    border:3px solid #458281;
	margin-top:12px;
}
/* end navigation */
.user-menu
    {
        list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
    }
.user-menu li
    {
        float: left;
    }
.user-menu li a
    {
        display: block;
		color: #517082;
		  font-size: 16px;
		  font-weight: 500;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  font-family: "HKGroteskBold";
		  letter-spacing: 0.1px;
		  text-align: center;
		  text-decoration: none;
		  padding-top: 13px;
		  padding-left: 30px;
		  padding-right: 10px;
    }
.user-menu li a:hover
    {
        color: #000000;
    }
.user-menu > .active > a,
.user-menu > .active > a:hover,
.user-menu > .active > a:focus {
  color: #000000;
  background-color: transparent;
}

/* end navigation user-menu */
.top-bar {
    min-height: 40px;
    background-color:#f4f4f4;
}

#searchbar {
  background-color: #f4f4f4;
  padding-top: 75px;
  padding-bottom: 39px;
  width: 100%;
  height:  55px;
}

.top-bar .serchableItem {
  background-color: #e5e5e5;
  /*margin-top: -1px;
  margin-bottom: -8px;*/
  color: #517082;
  height: 40px;
  padding: 10px;
}

.top-bar .serchableItem ul {
  margin-top: 3px;
  max-height: 40px;
}

.top-bar .serchableItem .btn{
  border-width: 0px;
}

.top-bar .serchableItem .form-control {
    background-color: transparent;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 0px;
    height: 40px;
    /*margin-top: 2px;*/
	margin-top: -30px;
	margin-left: 20px;
	text-align: left;
	width: 160px;
}

/*.top-bar .serchableItem .form-control: hover,
.top-bar .serchableItem .form-control: focus {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/

.top-bar .serchableItem .input-group-text {
  background-color: transparent;
  border: 0px;
  font-size: 22px;
  padding:5px;
}

.top-bar .serchableItem .form-inline .input-group {
  width: 190px;
  max-height: 40px;
}

.top-bar .serchableItem .language {
  margin-top: 5px;
}

.top-bar .changeLanguage {
  color: #517082;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 17px;
}
.justify-content-left {
  text-align: left;
  float: left;
}
.barsearch {
	margin-right: 25px;
}
/* start home */        
#home
	{
      padding-top: 65px;
	}
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  padding: 0;
  position: relative;
  zoom: 1;
  background-color: #371604;
  overflow: hidden;
  margin: 0;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides img {
  width: 100%;
  min-width: 648px;
  min-height: 270px;
  display: block;
}
.flexslider .slides > li {
  display: none;  
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: 100%;
}
.slider-caption {
  color:white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexslider .btn
{
    background: #93ca3a;
    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin: 40px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    padding: 12px 10px 10px 10px;
}
.flexslider .btn:hover,
.flexslider .btn:focus {
    background: #fff;
    color: #93ca3a;
    border: 2px solid transparent;
}

/* end home */

/* start service */
#service .media
    {
        padding: 10px;
    }
#service .media .fa
    {
        color: #202020;
        font-size: 40px;
        margin-right: 20px;
    }
#service .media .media-heading
    {
        border-bottom: 2px solid #202020;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */

/* start divider */
#divider
    {
		padding-top: 50px;
		padding-bottom: 150px;
		
    }
#divider h2
    {
        /*font-size: 40px;*/
		font-family: HKGrotesk;
	  font-size: 48px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.6px;
	  text-align: center;
	  color: #4a4a4a;
    }
#divider strong
    {
        color: #93ca3a;
    }
#divider h3
    {
        /*padding-bottom: 30px;*/
		font-family: HKGrotesk;
	  font-size: 30px;
	  font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.33;
	  letter-spacing: normal;
	  text-align: center;
	  color: #517082;
    }
/* end divider */

/* start about */
#about h3
    {
        color: #93ca3a;
        font-size: 40px;
        padding-bottom: 10px;
    }
#about h4
    {
        padding-bottom: 10px;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 6px;
    }
#about .progress .progress-bar-danger
    {
        background: #93ca3a;
    }
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        display: block;
        padding-bottom: 10px;
    }
#about small
    {
        font-weight: bold;
        padding-left: 200px;
    }
#about {
  background-color: #e9f5f4 !important;
  font-family: 'HKGrotesk';
  color: #4a4a4a;
  /*min-height: 400px;*/
  padding: 0px;
}

#about .featuresContent-items {
  color: #4a4a4a;
  font-family: 'HKGrotesk';
  padding: 22px 16px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

#about h2 {
  color: #517082;
  font-family: 'HKGroteskBold';
  font-size: 32px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  font-style: normal;
   font-stretch: normal;
   line-height: normal;
}

#about feature-list {
  font-family: 'HKGroteskMedium';
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

#about .take-tour {
  color: #458281;
  font-family: 'HKGroteskBold';
  font-size: 18px;
  letter-spacing: 0.6px;
  float: right;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   padding-top: 20px;
  padding-right: 80px;
}

#about .take-tour a {
  letter-spacing: 0.6px;
  color: #458281;
}

	/* end about */


/* start team */
#team
    {
        /*border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;*/
        text-align: center;
		color: #fff;
		font-family: 'HKGroteskSemiBold';
		padding: 0;
		background-color: #458281 !important;
    }
#team .feature-item {
  margin-bottom: 25px;
  /*width: 300px;*/
  margin-top: -25%;
  text-align: center;
}
#team .icon-big {
  background-color:  #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 170px;
  border: 4px solid #458281;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;
}

#team .icon-connect {
  background-image: url('img/icon-connectedness.png');
}

#team .icon-heart {
  background-image: url('img/icon-empowered-empahty.png');
}

#team .icon-people {
  background-image: url('img/icon-jorney.png');
}

#team .feature-description {
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}
#team h2
    {
        padding-bottom: 30px;
    }
#team img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 10px;
        transition: all 0.4s ease-in;
    }
#team img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#team h3
    {
        color: #93ca3a;
        padding-bottom: 10px;
    }
#team h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
/* end team */

/* start newsletter */
#newsletter
    {
       /* background: url('img/newsletter-bg.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;*/
		background-color: #ffd197;
		background-image: url('img/men-pattern.png');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 180px;
		padding: 0px;
    }
/*#newsletter p
    {
        padding-bottom: 30px;
    }
#newsletter .btn
    {
        background: transparent;
        border-radius: 0px;
        color: #ffffff;
        margin-top: 40px;
    }
#newsletter .form-control
    {
        background: transparent;
        border-color: #f2f2f2;
        border-radius: 0px;
        color: #ffffff;
        height: 50px;
    }
#newsletter input[type="submit"]
    {
        background: #93ca3a;
        border: 2px solid transparent;
        color: #ffffff;
    }
#newsletter .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
#newsletter .form-control:-ms-input-placeholder {
  color: #ffffff;
}
#newsletter .form-control::-webkit-input-placeholder {
  color: #ffffff;
}*/
#newsletter .middle-banner-tittle {
  color: #4a4a4a;
  font-size: 56px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Journal';
  /*margin-right:50px;*/
  padding-top:50px;
  
}

#newsletter .start-Community{
  /*padding: 28px 0;*/
  text-align: center;
  padding-top:70px;
}

#newsletter .btn-secondary {
  background-color: #74568c;
  border: 1px solid #74568c;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.33);
  margin-right: 20px;
  color: #fff;
}

#newsletter .careopolis-free {
  color: #74568c;
  font-size: 28px;
  font-family: 'HKGroteskBold';
  text-align: center;
  letter-spacing: 1px;
  padding-top: 15px;
}
#newsletter .tourbottom {
  padding-top: 50px;
}
#newsletter .tourbottom .text {
  padding-top: 10px;
  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  color: #121212;
}
/* end newsletter */


#videoSection .video-content-image {
  padding: 0;
  /*min-height: 480px;*/
}

/*#videoSection .video-container {
  padding: 60px 0px;
  text-align: center;
}

#videoSection .video-container .b-video {
  margin-left: 25%;
}*/

#videoSection h3 {
  font-family: 'HKGroteskBold';
  font-size: 28px;
  letter-spacing: 0.6px;
  color: #517082;
}


#videoSection .video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 20px; height: 0; overflow: hidden;
}

#videoSection .video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
/*top: 0;
left: 0;*/
/*width: 100%;
height: 100%;*/
}

#videoSection .video-content-image {
  background-image: url('img/6-col-image-section_2.png');
  background-repeat: no-repeat;
}

#partnerSection,
#partnerSection {
  font-family: 'HKGrotesk';
  padding: 0;
  /*min-height: 400px;
  font-size: 1rem;*/
  background-color: #eaf7ff;
  color: #4a4a4a;
}

#partnerSection h2{
  color: #517082;
  font-family: 'HKGroteskBold';
  font-size: 32px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

#partnerSection .img-sponsor img{
  width: 225px;
  height: 108px;
  padding-left:20px;
}
/*
#partnerSection ul {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding-top: 10px;
}*/

#partnerSection .options a{
  float: left;
}

#partnerSection  a,
#partnerSection .find-us a{
  color: #458281;
  font-family: 'HKGroteskBold';
  font-size: 18px;
  letter-spacing: 0.6px;
  /*float: right;*/
}

#partnerSection .partner-content-image {
  padding: 0;
  min-height: 400px;
  background-image: url('img/col-6-image-section.png');
  background-repeat: no-repeat;
}
#partnerSection .featuresContent-items {
  color: #4a4a4a;
  font-family: 'HKGrotesk';
  padding: 22px 16px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

#partnerSection h2 {
  color: #517082;
  font-family: 'HKGroteskBold';
  font-size: 32px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  font-style: normal;
   font-stretch: normal;
   line-height: normal;
}

#partnerSection feature-list {
  font-family: 'HKGroteskMedium';
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;
}
#partnerSection .take-tour {
  color: #458281;
  font-family: 'HKGroteskBold';
  font-size: 18px;
  letter-spacing: 0.6px;
  float: right;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   padding-top: 50px;
  padding-right: 80px;
}

#partnerSection .take-tour a {
  letter-spacing: 0.6px;
  color: #458281;
}
/* start pricing */
#pricing
    {
        border-bottom: 1px solid #f6f6f6;
    }
#pricing .col-md-3,
#pricing .col-sm-6
    {
        padding: 0;
        margin: 0;
    }
#pricing .plan
  {
    border: 1px solid #f6f6f6;
    margin-top: 100px;
    transition: all 0.4s ease-in;
    padding: 40px;
  }
#pricing .plan_one
 {
    margin-top: 60px;
 }
#pricing .plan_two
 {
    margin-top: 80px;
 }
#pricing .plan_three
 {
    margin-top: 40px;
 }
#pricing .plan_four
 {
    margin-top: 0px;
 }
#pricing .plan:hover
  {
    background: #202020;
    color: #ffffff;
    transform: scale(1.0);
  }
#pricing .plan .plan_title
  {
    border-bottom: 1px solid #f6f6f6;
    color: #9bc848;
    font-size: 30px;
    padding: 20px;
  }
#pricing .plan ul
  {
    padding: 0;
  }
#pricing .plan ul li
  {
    display: block;
    padding: 20px 0 20px 0;
  }
#pricing .plan .btn
  {
    background: #93ca3a;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
  }
#pricing .plan .btn:hover
  {
    background: #FFFFFF;
    color: #66AF33;
  }
/* end pricing */

/* start portfolio */
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 60px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact
    {
        background-image: url('img/hero_image_jumbotron.png');
        /*background-size: cover;*/
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
        /*color: #ffffff;*/
		height: 400px;
		margin-top: 134px;
		padding-top: 2.5rem;
		
	 /* background-image: url("img/hero_image_jumbotron.png");
	  background-repeat: no-repeat;
	  padding-top: 2.5rem;
	  padding-bottom: 0rem;
	  height: 400px;
	  background-position: center;*/
    }
#contact .container .message {
  padding-top: 27px;
  max-width: 500px;
  min-width: 500px;
}
#contact h1 {
  font-family: 'HKGroteskBold';
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  /*line-height: normal !important;*/
  line-height: 4rem;
  letter-spacing: normal;
  color: #4a4a4a;
}
#contact h2 {
  font-family: 'HKGroteskBoldItalic';
  font-size: 24px;
  color: #74568c;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
#contact .banner-description {
  font-family: 'HKGroteskSemiBold';
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: #4a4a4a;
}
#contact .buttons-banner {
  margin-top: 12px;
}

#contact .bnt-create-care,
#contact .btn-primary:not(:disabled):not(.disabled):focus,
#contact .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #74568c;
    border-color: #74568c;
    width: 202px;
    margin-right: 20px;
}

#contact .bnt-tell-friend.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #74568c;
    border-color: #74568c;
}
#contact .banner-image {
  /*padding: 0 5px;*/
  padding-top: 25px;
  max-width: 360px;
  /*min-width: 380px;*/
}

#contact .sponsor {
  background-image: url('img/sponsor.png');
  width: 245px;
  height: 179px;
  margin-top: 15px;
  margin-left: 25px;
}

#contact .sponsor .img-sponsor img{
  /*width: 225px;
  height: 108px;
  padding: 1px;*/
  max-width: 200px;
}

#contact .sponsor .text-center {
  text-align: center;
}

#contact .bnt-create-care,
#contact .bnt-tell-friend {
  font-size: 18px;
  letter-spacing: 0.2px;
}

#contact .bnt-tell-friend {
  background-color: #458281;
  border-color: transparent;
  width: 141px;
}

/*#contact .img-fluid {
  /* min-width: 160px;
  height: auto;
  margin-top: 44px; 
}*/
#contact .img-fluid {
    width: 250px;
    min-width: 326px;
}
#contact .container-login {
  background-color: #517082;
  border-radius: 5px;
  color: #fff;
  width: 285px;
  height: 360px;
  font-size: 14px;
  margin-top: 40px;
 /* padding-left: 10px;*/
  position: absolute;
}

#contact .container-login h3 {
  font-size: 21px;
  margin-bottom: 20px;
  padding-left:15px;
}

#contact .container-login input {
  margin-bottom: 12px;
  color:#000000;
}

#contact .container-login input[type=text],
#contact .container-login input[type=password] {
  width: 255px;
  height: 32px;
  border-radius: 4px;
  padding: 0 8px;
}
/*
#contact .container-login textarea {
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
}*/

#contact .container-login .bnt-login,
#contact .container-login .bnt-login:not(:disabled):not(.disabled).active,
#contact .container-login .bnt-login:not(:disabled):not(.disabled):focus,
#contact .container-login .bnt-login:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #229b9e;
  border-color: #229b9e;
  width: 108px;
  height: 40px;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
}

#contact .container-login .bnt-login:hover {
  border-color: #229b9e;
}

#contact .container-login .forgot-password {
  font-size: 12px;
  float: right;
  margin-top: 7%;
  cursor: pointer;
  color: white;
  padding-right: 17px;
}

#contact .container-login .signin-socialnetwork{
  color: #fff;
  cursor: pointer;
}

#contact .container-login .icon-facebook {
  border: 1px solid #fff;
  font-size: 16px;
  width: 30px;
  height: 30px;
  padding: 3%;
  margin: 5px 2px;
  margin-right: 10px;
  padding-left: 8px;
  padding-right: 5px;
}
#contact .rounded-circle {
    border-radius: 50% !important;
}
#contact .container-login .sign-in-fa {
  font-family: 'HKGroteskSemiBold';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
/*#contact h3
    {
        font-weight: bold;
        padding-bottom: 20px;
    }
#contact .fa
    {
        color: #93ca3a;
        font-size: 18px;
        padding-bottom: 14px;
    }
#contact .form-control
    {
        background: #f2f2f2;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        color: #202020;
        font-weight: bold;
        margin-bottom: 80px;
    }
#contact input[type="submit"]:hover
    {
        background: #93ca3a;
    }
 #contact .form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
  color: #666;
}
#contact .form-control::-webkit-input-placeholder {
  color: #666;
}*/
/* end contact */
/* start tour */
#tourhead
    {
		background-color: rgba(173, 222, 244, 0.8);
		height: 400px;
		margin-top: 134px;
		padding-top: 2.5rem;
    }
#tourhead .message {
  padding-top: 27px;
  max-width: 500px;
  min-width: 500px;
}
#tourhead h1 {
  font-family: 'HKGroteskBold';
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  /*line-height: normal !important;*/
  line-height: 4rem;
  letter-spacing: normal;
  color: #4a4a4a;
}
#tourhead h2 {
  font-family: 'HKGroteskBoldItalic';
  font-size: 24px;
  color: #74568c;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
#tourhead .banner-description {
  font-family: 'HKGroteskSemiBold';
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: #4a4a4a;
}
#tourhead .buttons-banner {
  margin-top: 12px;
}

#tourhead .bnt-create-care,
#tourhead .btn-primary:not(:disabled):not(.disabled):focus,
#tourhead .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #74568c;
    border-color: #74568c;
    width: 202px;
    margin-right: 20px;
}

#tourhead .bnt-tell-friend.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #74568c;
    border-color: #74568c;
}
#tourhead .banner-image {
  /*padding: 0 5px;*/
  padding-top: 25px;
  max-width: 360px;
  /*min-width: 380px;*/
}

#tourhead .sponsor {
  background-image: url('img/sponsor.png');
  width: 245px;
  height: 179px;
  margin-top: 15px;
  margin-left: 25px;
}

#tourhead .sponsor .img-sponsor img{
  /*width: 225px;
  height: 108px;
  padding: 1px;*/
  max-width: 200px;
}

#tourhead .sponsor .text-center {
  text-align: center;
}

#tourhead .bnt-create-care,
#tourhead .bnt-tell-friend {
  font-size: 18px;
  letter-spacing: 0.2px;
}

#tourhead .bnt-tell-friend {
  background-color: #458281;
  border-color: transparent;
  width: 141px;
}

/* end tour */
/* start tourinfo */
#tourinfo {
  background-color: #fcecd9 !important;
  font-family: 'HKGrotesk';
  color: #4a4a4a;
  /*min-height: 400px;*/
  padding: 0px;
  overflow: hidden;
    position: relative;
}

#tourinfo .info-section-left {
    display: block;
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #e2eeee;
}
#tourinfo .featuresContent-items {
  color: #4a4a4a;
  font-family: 'HKGrotesk';
  /*padding: 22px 16px;*/
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
}
#tourinfo .descriptionleft {
  margin-right: 30px;
  margin-bottom: 20px;
}
#tourinfo .descriptionrigth {
  margin-left: 30px;
  margin-bottom: 20px;
}
#tourinfo h2 {
  color: #517082;
  font-family: 'HKGroteskBold';
  font-size: 32px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  font-style: normal;
   font-stretch: normal;
   line-height: normal;
}

#tourinfo .feature-list {
  font-family: 'HKGrotesk';
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #4a4a4a;
}
#tourpageitems {
  font-family: 'HKGroteskMedium';
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.1px;
  color: #fffffff;
  padding-top:50px;
}
#tourpageitems h3{
  /*height: 108px;*/
  font-family: 'HKGrotesk';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #458281;
  text-transform: uppercase;
  margin-bottom:0px;
}
#tourpageitems .description{
	margin-top:20px;
	/*padding-top:0px;*/
	margin-bottom:50px;
}
/*page about*/
#aboutpagehead
    {
		background-image: url('img/bg_about.png');
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
		height: 240px;
		margin-top: 134px;
		/*padding-top: 2.5rem;*/
    }
#aboutpagehead .tittle {
  color: #4a4a4a;
  font-size: 56px;
  text-align: left;
  letter-spacing: 2px;
  font-family: 'Journal';
  /*margin-right:50px;*/
  padding-top:66px;
  
}
#aboutpagecontent {
  margin-top: -44px;
}
/*page privacy*/
#privacypagehead
    {
		background-image: url('img/col-2-lock-image.png');
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
		height: 180px;
		margin-top: 134px;
		/*padding-top: 2.5rem;*/
    }
#privacypagehead .tittle {
  color: #4a4a4a;
  font-size: 56px;
  text-align: left;
  letter-spacing: 2px;
  font-family: 'Journal';
  /*margin-right:50px;*/
  padding-top:66px;
  
}
#privacypagecontent {
  margin-top: -44px;
}

#privacypagecontent .col-7-h3-title {

  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #458281;
}
#privacypagecontent .col-3-p-text {

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: right;
  color: #74568c;
}

/* start google map */
#map-canvas
  {
    border: none;
    width: 100%;
    height: 320px;
  }
/* end google map */

/* start footer 
footer
    {
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer p
    {
        line-height: 12px;
    }
footer .social-icon
    {
        top: 0px;
    }
 end footer */
 .footer {
  padding: 0rem;
  background-color: #517082;
  color: #fff;
  font-family: 'HKGroteskMedium';
  min-height: 240px;
}

.footer .container .row.submenu{
  padding: 1.5rem 0rem 0rem 0rem;
  max-height: 100px;
}

.footer .container .row.social-icon{
  text-align: center;
  margin-top: 20px;
}

.footer .container .row.social-icon .list-inline-item{
  opacity: 0.5;
}

.footer .footer-menu {
  font-size: 16px;
  letter-spacing: 0.1px;
  margin-top: 20px;
  color: #229b9e;
}

.footer .footer-menu span{
  padding: 0 6px;
}

.footer .footer-menu span a{
  color: #fff;
}

.footer .social-icon .follow-tittle{
  font-size: 18px;
  font-family: 'HKGroteskBold';
  letter-spacing: 0.1px;
  padding-top: 30px;
  padding-bottom: 10px;
  color:#ffffff;
}
.footer .social-icon .btn-social {
  max-width: 44px;
  max-height: 44px;
  font-size: 24px;
  padding: 6px 12px;
  color:#fefefe;
}

.footer .social-icon .btn-social i{
  /*margin-left: -4px;*/
  color:#fefefe;
}


.play {
  float: left !important;
  left: 37% !important;
  top: 12% !important;
  margin-top: -159px !important;
  position: relative !important;
  cursor: pointer;
  background: url(../img/play-video-screen-control.png) no-repeat;
  width: 64px;
  height: 64px;
}

.copyright {
  height: 40px;
  background-color:#535353;
  font-family:HKGrotesk;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #eaeaea;
}
.bg-footer-bottom {

  height: 40px;
  background-color: #535353;
  text-align:center;

}
.bottom-footer-text {

  padding-top:12px;
  height: 17px;
  font-family: HKGrotesk;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #eaeaea;
}

.btn {
  border-width: 2px;
}
.btn-social {
  width: 44px;
  height: 44px;
  font-size: 34px;
  line-height: 2rem;
  color:#fefefe;
}
.btn-outline-light {
    color: #fefefe;
    background-color: transparent;
    background-image: none;
    border-color: #fefefe;
}
.btn-outline-light:hover {
	color: #212529;
}
.too-icon {
	padding: 10px;
}

/* start social icon 
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
        top: 20px;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        color: #333;
        font-size: 13px;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon li a:hover
    {
        background: #f2f2f2;
    }
 end social icon */
 
 /*page join*/
#joinpagehead
    {
		background-image: url('img/bg_join.png');
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
		height: 240px;
		margin-top: 134px;
		/*padding-top: 2.5rem;*/
    }
#joinpagehead .tittle {
  font-family:'HKGrotesk';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top:70px;
}

#joinpagehead .subtittle {
  font-family: 'HKGrotesk';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #74568c;
  padding-top:20px;
} 

#joinpagecontent {
  margin-top: 30px;
}
#joinpagecontent .jointext {
  /*font-family: 'HKGroteskBold';*/
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom:37px;
}
#joinpagecontent .h4-form-text {
  /*width: 529px;
  height: 50px;*/
  width:100%;
  font-family: 'HKGrotesk';
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom:27px;
}
#joinpagecontent .h4-title-circles {
  width: 190px;
  height: 66px;
  font-family: 'HKGrotesk';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #458281;
  margin-bottom:37px;
}
/* start team 
#joinpagecontent
    {
        /*border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
		color: #fff;
		font-family: 'HKGroteskSemiBold';
		padding: 0;
		background-color: #458281 !important;
    }
#team .feature-item {
  margin-bottom: 25px;
  /*width: 300px;
  margin-top: -25%;
  text-align: center;
}*/
#joinpagecontent .icon-big {
  background-color:  #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
  height: 190px;
  border: 4px solid #458281;
  border-radius: 50%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;*/
  color: #458281;
}
#joinpagecontent .share {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #458281;
  padding-top: 74px;
}
#joinpagecontent .support {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #517082;
  padding-top: 78px;
}
#joinpagecontent .understand {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #74568c;
  padding-top: 81px;
}

#joinpagecontent .registration {
	background-color: #f4f4f4;
	/*width:100%;*/
	padding-left:15px;
	padding-top:23px;
	margin-bottom:120px;
}
#joinpagecontent .are-required-fields {

  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #229b9e;
  margin-bottom:20px;
}
#joinpagecontent .registration label {
  /*width: 350px;*/
  height: 17px;
  font-family: 'HKGrotesk';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
#joinpagecontent .registration input[type=text],
#joinpagecontent .registration input[type=zip],
#joinpagecontent .registration input[type=email],
#joinpagecontent .registration input[type=password] {
 /* width: 350px;*/
  height: 32px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  margin-bottom:20px;
}
#joinpagecontent .registration select {
  /*width: 350px;*/
  width: 100%;
  height: 32px;
  border-radius: 4px;
  box-shadow: inset 4px 0 4px 0 rgba(0, 0, 0, 0.1), inset -4px 0 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ced4da;
  background-image: linear-gradient(to bottom, #e8e8e8, #ffffff);
  margin-bottom:20px;
}
#joinpagecontent .registernow {
	margin-bottom:30px;
	text-align:right;
}
#joinpagecontent .bg-important-notification {
  /*width: 760px;*/
  height: 60px;
  background-color: #e2eeee;
}
#joinpagecontent .IMPORTANT {
  /*width: 190px;
  height: 29px;*/
  font-family: 'HKGrotesk';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #517082;
  padding-top:17px;
}
#joinpagecontent .To-receive-email-not {
  font-family: HKGrotesk;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #517082;
  padding-top:12px;
}

#joinpagecontent .To-receive-email-not .text-style-1 {
  font-weight: bold;
}
#joinpagecontent .REACTIVATE-A-DEACTIV {
  font-family: 'HKGrotesk';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #229b9e;
  padding-top:20px;
  padding-bottom:22px;
}
#joinpagecontent .HOW-TO-CREATE-OR-EDI {
  font-family: 'HKGrotesk';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #74568c;
  padding-top:20px;
  padding-bottom:22px;
}

.bg-tab-title {
  /*width: 760px;*/
  height: 56px;
  background-color: #74568c;
}
.bg-buttom {
  width: 174px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  background-color: #74568c;
  font-family: 'HKGrotesk';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
  /*margin-right:-20px;*/
  padding-top:12px;
  
}
.bg-box-focused_person {
 /* width: 350px;*/
  height: 206px;
  border-radius: 6px;
  border: solid 1px #c5c5c5;
}
.-You-need-to-enter {
  font-family: 'HKGrotesk';
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #74568c;
  padding-top:11px;
}
/*page user logged*/

#userlogedhead
    {
		background-image: url('img/bg_userlogged.png');
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
		height: 250px;
		margin-top: 134px;
		/*padding-top: 2.5rem;*/
    }
#userlogedhead .tittle {
  font-family:'HKGrotesk';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top:70px;
}

#userlogedhead .subtittle {
  font-family: 'HKGrotesk';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #74568c;
  padding-top:20px;
}

#myfeedpagecontent {

}  

#myfeedpagecontent .careopoli {
  margin-top: 60px;
}
#myfeedpagecontent .careopoli .border-car {

  width: 245px;
  height: 245px;
  border: solid 4px #ffffff;
}

#myfeedpagecontent .careopoli .base-with-shadow-car {
  width: 245px;
  height: 245px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14%;
  /*margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 25px;*/
}

#myfeedpagecontent .careopoli .h3-careopolis_name {
  /*width: 475px;
  height: 39px;*/
  font-family: 'HKGrotesk';
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.margeizq {
  margin-left:-40px;
}
#myfeedpagecontent .careopoli .col-7-p-text {
  /*width: 665px;
  height: 52px;*/
  font-family: 'HKGrotesk';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 11px;
  margin-bottom: 10px;
}

#myfeedpagecontent .careopoli .bnt-create-care{
width: 172px;   
   background-color: #74568c;
    border-color: #74568c;
	border-radius: 6px;
	font-family: 'HKGrotesk';
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;

}

#myfeedpagecontent .careopoli .options {
  margin-top: 20px;
}

#myfeedpagecontent .careopoli .options .title {
  /*width: 129px;
  height: 21px;*/
  font-family: 'HKGrotesk';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #458281;
  margin-left: 8px;
  margin-top: 6px;
}

#myfeedpagecontent .careopoli .options .section_activity {
  /*width: 475px;*/
  min-height:95px;
  background-color: #f4f4f4;
  /*margin-top:0px;*/
  padding-top:10px;
  padding-left:15px;
  padding-bottom:30px;
}

#myfeedpagecontent .careopoli .options .link a{
  font-family: 'HKGrotesk';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #517082;
  padding-top: 10px;
  text-decoration: none;
}

#myfeedpagecontent .careopoli .options .info {
  font-family: 'HKGrotesk';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 2px;
  
}
#myfeedpagecontent .careopoli .options .infonot {
  font-family: 'HKGrotesk';
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #979797;
  margin-bottom:30px;
}
#myfeedpagecontent .careopoli .options .divider {
  /*width: 475px;*/
  height: 1px;
  background-color: #ffffff;
  width:100%;
  margin-left:-10px;
  margin-bottom: 0px;
}

/*page view careopoli*/

#careopolihead
    {
		background-image: url('img/bg_userlogged.png');
		background-position: top center;
        background-repeat: no-repeat;
		background-color: rgba(173, 222, 244, 0.8);
		height: 250px;
		margin-top: 134px;
		/*position:absolute;*/
		/*padding-top: 2.5rem;*/
    }
#careopolihead .imagen {
  padding-top: 62px;
  padding-left: 10px;
}
#careopolihead .description {
  font-family: 'HKGrotesk';
  margin-top:98px;
  margin-left:-85px;
  /*padding-left:10px;*/
}
#careopolihead .col-4-Careopolis-name {
  /*padding-top:98px;*/
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}
#careopolihead .description .col-4-What-is-going-text {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 6px;
}
#careopolihead .description .col-Careopolis-direcction {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #458281;
  margin-top: 13px;
}
#careopolihead .bgbocareopolihead{
	
	background-color: #e2eeee;

height: 80px;

width: 1140px;

margin-top: -73px;

margin-left: 15px;

position: inherit;
	
}

#careopolibody{
	/*position: relative;
	background-color: #e2eeee;*/
	/*background-color: rgba(173, 222, 244, 0.8);*/
	/*padding-top: 57px;*/
	margin-top: -105px;

}
#careopolibody .leftbar {

background-color: #e2eeee;
/*padding-top: 57px;*/
margin-right: 70px;
min-height: 80px;
}
#careopolibody .leftbar .divider {
  width: 100%;

height: 1px;

background-color: #458281;

margin-left: 0px;
}
#careopolibody .leftbar .careopolisoptions { 
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #74568c;
}
#careopolibody .leftbar .bg-header-sidebar {
  /*width: 285px;*/
  height: 48px;
  background-color: #d0e2e1;
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #517082;
  margin-top: 6px;
  text-align: center;	
  padding-top: 11.5px;
}
#careopolibody .leftbar .Get-help-to-start-a {
  /*width: 207px;
  height: 50px;*/
  font-family: 'HKGrotesk';
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
#careopolibody .leftbar ul {
  list-style: none;
  /*padding-top: 20px;*/
  padding-left: 20px;
  padding-right: 10px;
}
#careopolibody .leftbar ul li{
  padding-top: 20px;
  padding-bottom: 40px;
}
#careopolibody .leftbar .username {
  /*width: 195px;
  height: 21px;
  font-family: HKGrotesk;*/
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}
#careopolibody .leftbar .role {
  /*width: 195px;
  height: 15px;
  font-family: HKGrotesk;*/
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #c39fb9;
}
#careopolibody .careopoliconte {
 margin-top: -53px;
 margin-left: -65px;
}
#careopolibody .careopoliconte .itemcareopoli {
 margin-bottom: 40px;
 font-family: 'HKGrotesk';
}
#careopolibody .careopoliconte .itemcareopoli .discussionleft {
 text-align: center;
}
#careopolibody .careopoliconte .itemcareopoli .discussionleft .Posted-by {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-top:13px;
}
#careopolibody .careopoliconte .itemcareopoli .discussionleft .namemember {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #458281;
}
#careopolibody .careopoliconte .itemcareopoli .discussionleft .date {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #517082;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpost {
	background-color: #f4f4f4;
	padding-top: 24px;
	padding-left: 30px;
	padding-left: 30px;
	padding-bottom: 24px;
	width:65%;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpost .discussion-title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpost .views-answers-counter {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #517082;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpost .body-text {

  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpostdivi{
	width: 65%;
	height: 1px;
	background-color: #fff;
	margin-left: 0px;	
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpostdetails {
	background-color: #f4f4f4;
	padding-top: 13px;
	padding-left: 30px;
	padding-bottom: 13px;
	width:65%;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpostdetails .last-answer-date-entry {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #9b9b9b;
}
#careopolibody .careopoliconte .itemcareopoli .discussioncontenpostdetails .labeldet {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #517082;
}

#joinpagecontent {
  margin-top: 30px;
}
#joinpagecontent .jointext {
  /*font-family: 'HKGroteskBold';*/
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom:37px;
}
#joinpagecontent .h4-form-text {
  /*width: 529px;
  height: 50px;*/
  width:100%;
  font-family: 'HKGrotesk';
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom:27px;
}
#joinpagecontent .h4-title-circles {
  width: 190px;
  height: 66px;
  font-family: 'HKGrotesk';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #458281;
  margin-bottom:37px;
}
/* start team 
#joinpagecontent
    {
        /*border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
		color: #fff;
		font-family: 'HKGroteskSemiBold';
		padding: 0;
		background-color: #458281 !important;
    }
#team .feature-item {
  margin-bottom: 25px;
  /*width: 300px;
  margin-top: -25%;
  text-align: center;
}*/
#joinpagecontent .icon-big {
  background-color:  #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
  height: 190px;
  border: 4px solid #458281;
  border-radius: 50%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;*/
  color: #458281;
}
#joinpagecontent .share {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #458281;
  padding-top: 74px;
}
#joinpagecontent .support {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #517082;
  padding-top: 78px;
}
#joinpagecontent .understand {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #74568c;
  padding-top: 81px;
}

#joinpagecontent .registration {
	background-color: #f4f4f4;
	/*width:100%;*/
	padding-left:15px;
	padding-top:23px;
	margin-bottom:120px;
}
#joinpagecontent .are-required-fields {

  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #229b9e;
  margin-bottom:20px;
}
#joinpagecontent .registration label {
  /*width: 350px;*/
  height: 17px;
  font-family: 'HKGrotesk';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
#joinpagecontent .registration input[type=text],
#joinpagecontent .registration input[type=zip],
#joinpagecontent .registration input[type=email],
#joinpagecontent .registration input[type=password] {
 /* width: 350px;*/
  height: 32px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  margin-bottom:20px;
}
#joinpagecontent .registration select {
  /*width: 350px;*/
  width: 100%;
  height: 32px;
  border-radius: 4px;
  box-shadow: inset 4px 0 4px 0 rgba(0, 0, 0, 0.1), inset -4px 0 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ced4da;
  background-image: linear-gradient(to bottom, #e8e8e8, #ffffff);
  margin-bottom:20px;
}
#joinpagecontent .registernow {
	margin-bottom:30px;
	text-align:right;
}
#joinpagecontent .bg-important-notification {
  /*width: 760px;*/
  height: 60px;
  background-color: #e2eeee;
}
#joinpagecontent .IMPORTANT {
  /*width: 190px;
  height: 29px;*/
  font-family: 'HKGrotesk';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #517082;
  padding-top:17px;
}
#joinpagecontent .To-receive-email-not {
  font-family: HKGrotesk;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #517082;
  padding-top:12px;
}

#joinpagecontent .To-receive-email-not .text-style-1 {
  font-weight: bold;
}
#joinpagecontent .REACTIVATE-A-DEACTIV {
  font-family: 'HKGrotesk';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #229b9e;
  padding-top:20px;
  padding-bottom:22px;
}
#joinpagecontent .HOW-TO-CREATE-OR-EDI {
  font-family: 'HKGrotesk';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #74568c;
  padding-top:20px;
  padding-bottom:22px;
}

@media only screen and (max-width: 1199px) {
    .flexslider h1 { font-size: 30px; }
    .flexslider h2 { font-size: 24px; }
}

/* start templatemo 768 media quires */
@media only screen and ( max-width: 768px ) {
    .navbar-default .navbar-brand { margin-left: 20px; }
    .navbar-default .navbar-nav { margin: 0; }
    .navbar-default .navbar-collapse
    {
        padding-left: 20px;
        padding-right: 20px;
    }
	#contact .banner-image {
	  display:none;
	}
    .flexslider h1 { font-size: 26px; }
    .flexslider h2 { font-size: 18px; }
    .templatemo-slider-btn { 
        margin-top: 10px; 
        width: 180px;
        height: 40px;
        padding-top: 8px;
    }
	#team .col-md-4
        {
            padding-top: 40px;
        }
}
/* end templatemo 768 media quires */

/* start templatemo 600 media quires */
@media only screen and ( max-width: 640px ) {   
    .flexslider h1 { font-size: 20px; }
    .flexslider h2 { font-size: 14px; }
    .templatemo-slider-btn {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px; 
    }
	#team .col-md-4
        {
            padding-top: 40px;
        }
}
/* end templatemo 600 media quires */

/* start templatemo 360 media quires */
@media only screen and ( max-width: 360px ) {
    #team .col-md-4
        {
            padding-top: 40px;
        }
    
}
/* end templatemo 360 media quires */