	<!-- start privacy head -->
		<div id="privacypagehead">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="tittle">Community when it matters most</div>
				</div>
			<!-- </div>			 -->
		</div>
		

		<!-- <div id="privacypagecontent">		
			<div class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 col-sm-10">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div clas="col-7-h3-title">Privacy Policy</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div clas="col-3-p-text">Updated May 17, 2011</div>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	
	
	 -->