</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1><?php __('Nuevo Careopoli');?></h1>
<div>
<?php echo $this->Form->create('Careopoli');?>
	<fieldset clas>
 		<legend><?php __('Careopoli');?></legend>
	<?php
		echo $this->Form->input('title', array('size' => 50, 'maxlength' => 100));
		echo $this->Form->input('address', array('size' => 50, 'maxlength' => 100));
	?>
	</fieldset>
<?php echo $this->Form->end('Guardar Careopoli');?>
</div>